/* Set Fonts and Resets */
body,
html {
  background: rgb(0,212,255);
  background: radial-gradient(circle, rgba(0,212,255,1) 0%, rgba(91,44,226,1) 100%); 
  margin: 0;
  overflow-x: hidden;
  padding: 0;
  
}


h1 {
  text-align: center;
  margin: 2em;
  color: whitesmoke;
}

/* With Flexbox, Horizontally and vertically cneter */
body {
  min-height: 100vh;

}


/* Actual Keyboard Keys */
kbd {
  display: block;
  font-size: 2rem;
  color: rgb(255, 255, 255);
}

/* Name of Sound */
.sound {
  font-size: 1.2rem;
  letter-spacing: 0.1rem;
  color: #e2e2e2;
}

/* Use CSS Grid to display keys */
.keys {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1px;
  grid-template-rows: auto;
  width: 482px;
  margin-left: auto;
  margin-right: auto;
}

/* Visual Keys / Squares */
.key {
  /* Typography */
  margin: 1rem;
  font-size: 1.5rem;
  padding: 1rem 0.5rem;

  /* Styling of keys */
  width: 8rem;
  height: 6rem;
  background: rgb(248,0,161);
  background: radial-gradient(circle, rgb(145, 102, 130) 0%, rgb(132, 58, 86) 100%);
  text-align: center;
  border-radius: 20px;
  box-shadow: 0 6px 10px rgb(0, 0, 0);
  
  /* Change mouse pointer */
  cursor:pointer;
  -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  
  /* Call Transition */
  transition: all 0.07s ease;
}


/* Transition Animation. Last frame of animation. */
.playing {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.04);
  background: white;
}
